@tailwind base;
@tailwind components;
@tailwind utilities;


[data-theme='darkTheme'] {
        --bg_t          : #0d0c24;
        --text_t        : #eeeef0;
        --navbar_t      : #0d0c24;
        --info_card     : #14294a;
        --diagram_bg    : #9494a163;
}

[data-theme="lightTheme"] {
        --navbar_t      : #366ff4;
        --bg_t          : #f5f5f7;
        --text_t        : #161e2b;
        --info_card     : #b7ccec;
        --diagram_bg    : #cfdaf1;
}

[data-theme="grayTheme"] {
        --navbar_t      : #0d0c24;
        --bg_t          : #1a1b2e;
        --text_t        : #f5f5f7;
        --info_card     : #8cabdb;
        --diagram_bg    : #a49c9c63;
      }

.bg-theme {
        background-color: var(--bg_t);
      }
      
.text-theme {
color: var(--text_t);
}

.nav-theme {
        background-color: var(--navbar_t);
}

.card-theme{
        background-color: var(--info_card);
}

.diagram-bg{
        background-color: var(--diagram_bg);
}